<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Main Page Title</title>
        <link rel="stylesheet" href="../static/css/index.css">
    </head>
    <body>
        <!-- This div contains the whole page content -->
        <div class="css-top dark-blue css-right">
          <ul>
            <li>
              <h1>
                <a href="./index.html">Page 1</a>
              </h1>
            </li>
            <li>
              <h2>
                <a href="./page2.html">Page 2</a>
              </h2>
            </li>
            <li>
              <h3>
                <a href="./page3.html">Page 3</a>
              </h3>
            </li>
          </ul>
        </div>
        <div class="center-third one-third">
          <img src="../static/imgs/meme2-LOL.jpg" alt="meme2" width="400px" height="400px">
        </div>
    </body>
</html>
