<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Main Page Title</title>
        <link rel="stylesheet" href="../static/css/index.css">
    </head>
    <body class="sideways">
        <!-- This div contains the whole page content -->
        <div class="css-top dark-blue css-right">
          <ul>
            <li>
              <h1>
                <a href="./index.html">Page 1</a>
              </h1>
            </li>
            <li>
              <h2>
                <a href="./page2.html">Page 2</a>
              </h2>
            </li>
            <li>
              <h3>
                <a href="./page3.html">Page 3</a>
              </h3>
            </li>
          </ul>
        </div>
        <div class="center-third one-third">
          <img src="../static/imgs/plain-white.jpg" alt="" width=25% height=10px>
          <a href="https://i.giphy.com/media/FbPsiH5HTH1Di/giphy.webp"><img src="../static/imgs/toTheRick.jpg" alt="click me"></a>
        </div>
        <div class="one-third">
          <p>
            This is a Paragraph it is small but it is one...
          </p>
        </div>
    </body>
</html>
